#project-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#projects-cntr {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}

#project-box {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;

  & img {
    width: 100%;
  }
}

#mask-image {
  position: absolute;
  width: 90%;
  height: 100%;
  mask-image: url(../../assets/icons/project-mask.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#project-text-decor {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.2rem;
  width: 100%;
  height: 100%;
  top: -15px;

  & span {
    font-size: 7px;
    font-weight: var(--fw-medium);
    letter-spacing: 2.5px;
  }
}

#top-texts-decor {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.25rem;
}

#text-vertical {
  margin-right: 1px;
  writing-mode: sideways-rl;
}

#project-info-cntr {
  display: flex;
  align-self: center;
  gap: 1.125rem;
}

#project-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

#project-info-titles {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#project-title {
  display: flex;
  align-items: end;
  gap: 6px;

  & p {
    font-size: 0.5rem;
    letter-spacing: 1px;
    color: var(--highlight-gree);
  }
}

#title {
  & p {
    font-size: 9px;
    font-weight: var(--fw-medium);
    letter-spacing: 3px;
    color: var(--gray-base);
  }

  & h1 {
    font-size: 14px;
    font-weight: var(--fw-medium);
    letter-spacing: 1px;
  }
}

#tech-stack {
  display: flex;
}

.bxl {
  color: var(--icon-color);
  font-size: 22px;
}

#description-project {
  font-size: 12px;
  text-transform: initial;
}

#project-arrows {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  & button {
    width: 2rem;
    height: 2rem;
    border: none;
    cursor: pointer;

    &:nth-of-type(1) {
      background-image: url(../../assets/icons/project-arrow-up-wrapper.svg);
      background-color: transparent;
      background-size: cover;

      &:hover {
        background-image: url(../../assets/icons/project-arrow-down-wrapper.svg);
        transform: rotate(180deg);
      }
    }

    &:nth-of-type(2) {
      background-image: url(../../assets/icons/project-arrow-up-wrapper.svg);
      background-color: transparent;
      background-size: cover;
      transform: rotate(180deg);

      &:hover {
        background-image: url(../../assets/icons/project-arrow-down-wrapper.svg);
        transform: rotate(0deg);
      }
    }
  }
}

#texts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    font-size: 7px;
    letter-spacing: 5px;
    color: var(--success-green-transparent);
  }
}

/* Large Mobile */
@media (min-width: 768px) {
  #projects-wrapper {
    gap: 4rem;
  }

  #project-text-decor {
    gap: 0.5rem;
    top: -12px;

    & span {
      font-size: 10px;
      letter-spacing: 7px;
    }
  }

  #project-info-cntr {
    gap: 1.5rem;
  }

  #project-title {
    gap: 0.75rem;

    & p {
      font-size: 1rem;
      letter-spacing: 1.5px;
    }
  }

  #title {
    & p {
      font-size: 1rem;
      letter-spacing: 5px;
    }

    & h1 {
      font-size: 1.5rem;
      letter-spacing: 0.125rem;
    }
  }

  .bxl {
    font-size: 35px;
  }

  #description-project {
    font-size: 1rem;
  }

  .view-project {
    gap: 7px;
    padding: 10px 15px;
    font-size: 1rem;
    letter-spacing: 0.125rem;
    margin-top: 8px;

    & img {
      width: 15px;
    }
  }

  #project-arrows {
    gap: 1rem;

    & button {
      width: 53px;
      height: 53px;
    }
  }

  #texts-wrapper {
    gap: 29px;
    width: 100%;
    padding-right: 68px;

    & p {
      font-size: 12px;
    }
  }
}

/* Desktop */
@media (min-width: 1200px) {
  #projects-wrapper {
    width: 100%;
  }

  #project-text-decor {
    & span {
      font-size: 12px;
    }
  }

  #texts-wrapper {
    padding-right: 135px;
  }

  #description-project {
    font-size: 1.15rem;
  }
}
