#projects {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dot-btn {
  border: none;
  background-color: var(--content-primary);
  opacity: 0.2;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
  transition: all 0.3s ease;
}

.active-dot {
  background-color: var(--bar-color);
  opacity: 1;
}

/* Large Mobile */
@media (min-width: 768px) {
  #projects {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .dots {
    gap: 2rem;
  }

  .dot-btn {
    height: 1rem;
    width: 1rem;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  #projects {
    gap: 64px;
  }

  .dots {
    display: none;
  }
}
